<tr>
   <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
      <div class="flex items-center">
         <div class="ml-3">
            <p class="text-gray-900 whitespace-no-wrap">
               <%=@appointment.patient.name%>
            </p>
         </div>
      </div>
   </td>
   <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
      <p class="text-gray-900 whitespace-no-wrap"><%= @appointment.doctor.name %></p>
   </td>
   <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
      <p class="text-gray-900 whitespace-no-wrap">
         <%= "#{@appointment.price.truncate} PLN"%>
      </p>
   </td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
      <p class="text-gray-900 whitespace-no-wrap">
         <%= @appointment.start_time.strftime("%Y/%m/%d %I:%M") %>
      </p>
</tr>