<%= link_to(@link, { class: "flex items-center px-4 py-2 mt-5 rounded-md #{current_page?(@link) ? 'bg-gray-200' : 'hover:bg-gray-200' }"}) do %>
  <%= inline_svg_tag svg, class: 'h-4 w-4 inline-block' %>
  <span class="mx-4 font-medium"><%= @label %></span>
<% end %>