    <div class="flex">
      <div class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto border-r">
        <h2 class="text-3xl font-semibold text-center text-blue-800">Clinic</h2>
        <div class="flex flex-col justify-between mt-6">
          <aside>
            <ul>
              <li>
              <%= render SidenavItemComponent.new(link: patients_path, label: "Patients") %>
              </li>
                <li>
              <%= render SidenavItemComponent.new(link: all_appointments_path, label: "Appointments") %>
              </li>
                <li>
              <%= render SidenavItemComponent.new(link: chart_path, label: "Dashboard") %> 
              </li>
            </ul>
          </aside>  
        </div>
      </div>